


.carousel-item {
    height: 100vh;
    min-height: 250px;
    
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
  }
 * {
  font-family: 'Abel';
  font-size: 15px;
 }
 .carousel-inner{
  width:100%;
  max-height: 350px !important;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  /*background: white;*/
  width: 100%;
  background-size: cover;
  flex-shrink: none;
}
html {
  height: 100%;
  transform: scale(1.0);
   transform-origin: 0 1;
}
body {
  min-height: 100%;
}
/* Other Classes for Page Styling */

html,body {
  background: white;
  
  
  
}
img.logo-img {
    float: left;
    height: 40px;
}
#sticky-footer {

height: 15px;

}

#sticky-footer.container text-center{
  text-align: justify;
  padding: 100px;
 

}
#cardbackground{
  background-color: white;
  
}
div.card.flex-row.flex-nowrap{
  background: white;
  border-radius: 0px;
  border: solid 2px #c6a32b;
  left:2px;
}
.navbar-custom {



background: white;
width: 100%;
background-size: cover;

}

a {
  color:black;
}
small {
  color:black;
}
.cardclass {
  height: 200px;
  width: 200px;
}
input[type=text] {
  width: 100%;
  
  box-sizing: border-box;
 
}
#fp-size-large {
  height: 260px;
}
#fp-size {
  height:85px;
}

span.navbar-toggler-icon {
  background-color: #c4a127;
  
}

 
 
#checkbox_id {
  width: 120px;
  height: 40px;
  background: #333;
  margin: 20px 60px;
  border-radius: 50px;
  position: relative;
  }
  a.page-link {
    color: black;
    
  }
  .pagination {
    float: right;
    margin-right: 15px !important;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    color: #666;
 
    content: "> ";
    padding: 0 5px;
}
/*tabiem*/

nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#b8af9d;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#000000 ;          
    border-radius:2px ;                             
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color:#d4a23d ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #724f0a;
    border-bottom:5px solid #917b50;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
 {
  border: none;
    background: #b8af9d;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
#tab-picture {
  height: 200px;
}
html {
  background-image: url("components/background.jpg");
  scroll-behavior: smooth;
}
#chatBox {
  width: 60%;
    height: 500px;
    border:2px solid #ddd;
    
  overflow-y: scroll; 
}

   address {
   float: left;
    
  }
  #chatBackground
  {
  height: 420px;
  background: #ebe0bc;
    border-bottom: 0px solid #ebe0bc;
    border-radius: 3px;
}
div#chatBox.container-fluid {
  background: #ebe0bc;
  border-radius: 3px;
  overflow-y: scroll; 
}
form.something  {
  padding: 6px;
  background: #e2c66a;
  border: 2px solid #ceae4e;
  cursor: pointer;
  border-radius: 2px;
  width: 300px;
   
}
#chatBox {
  border: 10px #ceae4e;
}

input#inputButton {
  background: #cfb157;
  border-block-start-color: #b89345;
  border-block-end-color: #cf5f57
  border-radius: 2px;

}
a.nav-link {
  font-size: 22px;
}
small {
  font-size: 15px;
}
#articlesBorder {
  border: solid 2px #c6a32b;
  border-left: solid 16px #c6a32b;
  border-right: solid 16px #c6a32b;
  padding: 0px;
  
}
input#password,input#password2 {
  float:left;
  
}
input {
  border-color:  #e2c463;
  border-radius: 3px;
}
ol.breadcrumb {
  background: #b8af9d;
}
#catGif {
 
  
}
div.row {
  background:#ebe0bc; 
}
#checkbox_id {
  color: #ebe0bc;
  background: #b89345;
}
#pagination-background {
  background: white;
}
.carousel-indicators li {
  background-color: #f3e593;
}
.carousel-indicators .active {
  background-color: rgb(201, 157, 12);
}
.carousel {
  overflow:hidden;
}